
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Соцсеть:</label>  <select name="SocialNetwork" asp-items="Model.SocialNetworksList" value=" " class="form-control"></select>
        <label class="control-label">Статус:</label>  <select name="Blocked" asp-items="Model.BlockedList" class="form-control"></select>
        <Button type="submit" class="btn btn-primary" value="Отфильтровать">Отфильтровать</Button>
    </div>
</form>

<form action="" method="post">
<div class="form-inline form-group">
        <Button type="submit" asp-action="TablePage" asp-route-Act="UserBlock" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]" class="btn btn-actions">Блок</Button>
        <Button type="submit" asp-action="TablePage" asp-route-Act="UserUnblock" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]" class="btn btn-actions" value="UnblockUser">Разблок</Button>
        <Button  type="submit" asp-action="TablePage" asp-route-Act="UserDelete" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]" class="btn btn-actions" value="DeleteUser">Удалить</Button>
</div>

<table class="table">
    <tr>
        <th><input type="checkbox" id="SelectAll"></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.IdSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">Id</a></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.NameSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">Name</a></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.SocialNetworkSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">SocialNetwork</a></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.FirstEnterSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">First enter</a></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.LastEnterSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">Last enter</a></th>
        <th><a asp-action="TablePage" asp-route-sortOrder="@ViewBag.StateSort" asp-route-SocialNetwork="@ViewData["SocialNetworkSave"]" asp-route-Blocked="@ViewData["BlockedSave"]">State</a></th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr><td><input type="checkbox" name="Selected[]" value="@item.Id"></td><td>@item.Id</td><td>@item.SocialUserName</td><td>@item.SocialNetwork</td><td>@item.FirstEnter</td><td>@item.LastEnter</td><td>@item.State</td></tr>
    }
</table>
</form>

<script>
    document.querySelector("#SelectAll").addEventListener('click', function (e) { [].forEach.call(document.querySelectorAll('[type="checkbox"]'), c => c.checked = this.checked); });
</script>
